<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is the result</h1>
    <h2>Email = <%=email%></h2>
    <h2>reachable = <%=reachable%></h2>
    <h2>disposable = <%=disposable%></h2>
    <a href="http://localhost:4000/">Search Another Email</a>
  </body>
</html>
